<h2>About</h2>
<p>This is a simple Rails app that demonstrates how to use the <a href="http://www.rubydoc.info/gems/webpacker">Webpacker</a> gem to manage JavaScript and CSS assets in a Rails application.</p>